/BouncingBalls/[Bb]uild-tmp/
/CharacterManager/[Bb]uild-tmp/
/Circle/[Bb]uild-tmp/
/GameOfLife/[Bb]uild-tmp/
/Intro/[Bb]uild-tmp/
/Movement/[Bb]uild-tmp/
/ParabolicLines/[Bb]uild-tmp/
/Pong/[Bb]uild-tmp/
/Sebastian_Nilsson/[Bb]uild-tmp/
/SpaceInvaders/[Bb]uild-tmp/
/Trigonometry/[Bb]uild-tmp/
/Vector/[Bb]uild-tmp/
/VectorGuess/[Bb]uild-tmp/